@import "tailwindcss";
@plugin "daisyui";
@import "@heroui/styles";

:root {
  --noir: #382c11;
  --green: #354024;
  --moss: #889063;
  --moss2: #c3cf8e;
  --tan: #CFBB99;
  --bone: #E5D7C4;
  --text2: #6C696D;
  --text3: #d0ccd1;
}